html, body, .container-fluid {
	height: 100%;
	
}

#portal {
	padding-top: 50px;
}

#left, #right, .row {
	height: 100%;
}

#map {
	height: 100%;
}

.fa-rotate-45 {
    transform: rotate(45deg);
}

.fade-out {
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.leaflet-container {
	background-color: #FFF;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 24%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.25) 26%, rgba(0, 0, 0, 0) 27%, rgba(0, 0, 0, 0) 74%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0.25) 76%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0)), linear-gradient(90deg, rgba(0, 0, 0, 0) 24%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.25) 26%, rgba(0, 0, 0, 0) 27%, rgba(0, 0, 0, 0) 74%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0.25) 76%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0));
	background-size: 50px 50px;

	// OR
	// background: url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==);
}